.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.75rem;

  width: 100%;
}

.title {
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: capitalize;
}

.variants {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;

  width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.variants::-webkit-scrollbar {
  display: none;
}
