<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <div class="" style="width: 400px; height: 400px; display: flex; justify-content: space-evenly; align-items: center; border: 1.2px solid gray; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);">
        
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="item_name" id="item_name" placeholder="Name">
            <input type="number" name="item_price" id="item_price" placeholder="Price">
            <input type="submit" value="PAY">
        </form>
    
    </div>



    {% if payment %}

    <form action="/rp/success/" method="post">
        <script
            src="https://checkout.razorpay.com/v1/checkout.js"
            data-key= "rzp_test_i2Olh4B1BnBa6y"
            data-amount= "{{ payment.amount }}"
            data-currency= "INR"
            data-order_id= "{{ payment.id }}"
            data-buttontext="Pay with Razorpay"
            data-name= "The RK Group"
            data-description= "Test Transaction"
            data-prefill.name= "Kushal Kumar"
            data-prefill.email= "am.kushal02@gmail.com"
            data-prefill.contact= "9123686897"
            data-theme.color= "{{ theme }}"
        ></script>


        <input type="hidden" name="hidden" custom="hidden Element">
    </form>
    
    {% endif %}
</body>
</html>