.footer{
    position: relative;
    display: flex;
    width: 100vw;
    height: 30px;
    background: rgb(211, 211, 211);
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
    bottom: 0;
    font-size: 14px;
}