.container {
  width: 100%;
  height: 100%;

  padding: 0 2rem;
}

.headingContainer {
  display: grid;
  grid-template-columns: 2fr 2fr 22fr 2fr 4fr;
  align-items: center;
  justify-content: center;

  width: 100%;

  padding: 1rem 0;

  border-bottom: 1px solid #999;

  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.heading {
  border-right: 1px solid #999;
}

.scrollContainer {
  width: 100%;
  height: calc(100svh - 23rem);

  padding: 1rem 0;

  overflow-y: scroll;
}

.scrollContainer::-webkit-scrollbar {
  display: none;
}

.scrollContainer {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  width: 100%;
}
