.container {
  display: grid;
  grid-template-columns: 2fr 2fr 22fr 2fr 4fr;
  align-items: center;
  justify-content: center;

  width: 100%;

  padding: 1rem 0;

  border-radius: 1rem;

  text-align: center;
}

.container:hover {
  background-color: #82828265;
}

.srNoContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  border-right: 1px solid #999;

  font-size: 1.5rem;
  font-weight: 900;
}

.iconContainer,
.nameContainer,
.activeContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  padding: 0 1rem;

  border-right: 1px solid #999;

  font-size: 1.8rem;
}

.icon,
.iconPlaceholder {
  width: 4rem;
  height: 4rem;

  border-radius: 1rem;
  box-shadow: 0 0 0.5rem #000;

  font-size: 1.25rem;
  text-transform: capitalize;

  object-fit: cover;
}

.nameContainer {
  gap: 1rem;
}

.pill {
  padding: 0.25rem 1rem;

  border-radius: 1rem;

  background-color: #00f;
  color: #fff;

  font-size: 0.75rem;
  font-weight: 800;
  text-align: center;
  text-transform: capitalize;
}

.activeIcon {
  cursor: pointer;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  width: 100%;
  height: 100%;

  padding: 0 1rem;
}
