
.gridlayouts{
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0);
    align-items: stretch;
    justify-content: stretch;
    border-radius: 50px;
    
}

.gridlayouts > *{
    justify-self: stretch;
    align-self: stretch;
}

.companyCon{
    grid-area: companytitle;
    border-right: 2.5px solid rgba(229, 211, 228, 0.1);
    /* border: .8px solid rgba(170,170,170,0.5); */
}

.headerCon{
    grid-area: header;
    /* border: .8px solid rgba(170,170,170,0.5); */
}

.sidebarCon{
    grid-area: sidebar;
    border-right: 2.5px solid rgba(229, 211, 228, 0.1);
    /* border: .8px solid rgba(170,170,170,0.5); */
}

.mainCon{
    grid-area: body;
    /* border: .8px solid rgba(170,170,170,0.5); */
}







@media (max-width:60000px){

    .gridlayouts{
        grid-template-areas: 
        "companytitle   header"
        "sidebar        body";
        grid-template-columns: 1fr 5fr;
        grid-template-rows: 90px auto;
    }


    .large_screen{ display: flex; }
    .small_screen{ display: none; }

    .bodyBox{
        width: calc( calc( 100% * 0.8333333333333334 ) - 15px );
    }

    
}


@media (max-width:1012px){

    .gridlayouts{
        grid-template-areas: 
        "header"
        "body";
        grid-template-columns: auto;
        grid-template-rows: 90px auto;
    }

    .sidebarCon,.companyCon{ display: none; }



    .small_screen{ display: flex; }
    .large_screen{ display: none !important; }

    .bodyBox{
        width: calc( 100% - 15px );
    }


}