@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', cursive;
    transition: .5s;
}

::-webkit-scrollbar{ display: none; }


html{
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
}

body{
    background: linear-gradient(135deg, #1b0a54 0%, #04091d 70%, #04091d 100%);
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

 
.dashboard,.signinContainer,.loginContainer{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: alicewhite;
    background: rgba(0,0,0,0);
    /* border-radius: 15px;
    box-shadow: 0 0 5px .9px rgba(170,170,170,0.5);
    border: .2px solid rgba(170,170,170,0.22); */
}

.signinContainer,.loginContainer{
    height: 90vh;
    width: 800px;
    backdrop-filter: blur(10px);
    background: rgba(255,255,255,0.06);
    border-radius: 15px;
}   
.signinContainer::before,.logninContainer::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 300vh;
    width: 300%;
    background: linear-gradient(264deg, rgba(155, 122, 199, 0.249) 0%, transparent);
    rotate: 52deg;
}

.loginContainer{
    height: 600px;
    width: 600px;
}


input[type="password"]::-webkit-password-slash {
    color: white;
}

/* Microsoft browsers (Edge) */
input[type="password"]::-ms-reveal {
    color: white;
}


@media (max-width: 900px){
    .signinContainer{
        width: 95%;
    }

    .loginContainer{
        width: 90%;
    }
}

@media (max-height: 650px){
    .loginContainer{
        height: 90%;
    }
}