.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: auto;
}

.questionContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.question {
  font-size: 1.5rem;
  font-weight: 600;
}

.answer {
  width: 100%;
  height: auto;
  font-size: 1.5em;
  font-weight: 400;
  color: #282828;
}
