.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
  justify-content: space-evenly;
  gap: 1rem;

  width: 100%;
  padding: 2.8rem 0 2.2rem;
}

@media (max-width: 640px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
