.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100dvw;
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
}

.message {
  font-size: 5rem;
}

.heading {
  width: fit-content;
  font-size: 2.6rem;
  font-weight: 600;
  padding: 4px 0;
}
