/* ENABLED BUY BUTTON ============================== */
.buyBtn {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: rgb(255, 149, 0);
  color: #fff;
  font-weight: 400;
  font-family: inherit;
  text-transform: capitalize;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}

.buyBtn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 20px;
  background: linear-gradient(
    to right,
    #fff3,
    #fff8,
    #fff4
  );
  top: 0;
  left: -36px;
  scale: 1.4;
  rotate: 25deg;
  filter: blur(2px);
  animation: shineAnimation 5s linear infinite;
}

@keyframes shineAnimation {
  0% {
    left: -36px;
  }
  40%,
  100% {
    left: 700px;
  }
}

/* DISABLED BUTTON ============================== */
.disabledBtn {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: rgb(157, 157, 157);
  color: #ffffffdd;
  font-weight: 400;
  font-family: inherit;
  overflow: hidden;
  text-transform: capitalize;
  border-radius: 1rem;
  position: relative;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 640px) {
  .buyBtn,
  .disabledBtn {
    font-size: 16px;
  }
}
