.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 2rem;

  border-bottom: 1px solid #999;

  background-color: #fff;

  z-index: 9999;
}

.heading {
  font-size: 3rem;
  font-weight: 600;
  text-transform: capitalize;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
}

.controls a {
  min-width: 220px;
}
