.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  width: 100%;
}

.actionsContainer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  width: 100%;

  padding-right: 2.75rem;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  width: 40%;
}
