.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border: 1.75px solid #12121270;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.5rem;
  width: 100%;
  transition:
    border-color 250ms ease,
    color 250ms ease;
}

.container:hover {
  border-color: #121212;
}

.active {
  border-color: #cd378c;
  color: #cd378c;
  background: #cd378c15;
}

@media (max-width: 480px) {
  .container {
    font-size: 1.8rem;
    padding: 1.3rem 1.65rem;
  }
}
