.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  width: 100%;
}

.heading {
  font-size: 1.25rem;
  font-weight: 400;
}

.supports {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;
}

.support {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.label {
  font-size: 1.25rem;
  text-transform: capitalize;
}
