
<div class="company_title">
    <div class="profile_card">
        <div class="profile_icon">
            <div class="iconContainer">
                {{ user_icon }}
            </div>
            <div class="statusContainer" style="background: {{ status }};">
            </div>
        </div>
        <div class="profile_details">
            <div class="profile_name">
                {{ username }}
            </div>
            <div class="profile_desc">
                {{ user_desc }}
            </div>
        </div>
    </div>
</div>
