<div class="header">

    <div class="repo_section">


        <div class="curr_folder">

            <div class="folder_route">
                {{ greeting }}, {{ username }}
            </div>

            <div class="addon" >
                {{ greeting_details }}
            </div>


        </div>


    </div>




    <div class="right_corner">


        <div class="large_screen">


            <div class="searchbar">

                <div class="search_placeholder">

                    <i class="fa-solid fa-magnifying-glass fa-xs" style="color: rgba(156, 165, 199, 0.45);margin-right: 6px;margin-bottom: 3px;"></i> <div>Search</div>

                </div>
                <div class="searchField">

                    <input type="text" name="searchvalue" id="searchbar" >
                </div>
    
            </div>
    
            <div class="all_apps" style="cursor: pointer;">
    
                <i class="fa-solid fa-list-ul fa-sm" style="color: #ffffff;"></i>
    
            </div>
    
            <div class="alerts" style="cursor: pointer;">
    
                <i class="fa-solid fa-bell fa-sm" style="color: #ffffff;"></i>
    
            </div>
    
    
            <div class="theme" style="cursor: pointer;">
    
                <i class="fa-solid fa-moon fa-sm" style="color: #ffffff;"></i>
    
            </div>
    

        </div>


        <div class="small_screen">

            <div class="search_small" style="cursor: pointer;">

                ss
            </div>



            <div class="hamburger" style="cursor: pointer;">

hb

            </div>

        </div>


    </div>

</div>