{% load static %}

<div class="sidebar">

    <div class="sidebar_sections">
        <div class="side_home">
            <div class="" style="display: flex;align-items: center;justify-content: center;padding: 5px;">
                <i class="fa-solid fa-house fa-sm" style="color: #ffffff;"></i>
            </div>
            <div class="" style="padding: 5px;padding-bottom:0;align-self: baseline;">Home</div>
        </div>
        <div class="side_db">
            <div class="" style="display: flex;align-items: center;justify-content: center;padding: 5px;">
                <i class="fa-solid fa-database fa-sm" style="color: #ffffff;"></i>
            </div>
            <div class="" style="padding: 5px;padding-bottom:0;align-self: baseline;">Database</div>
        </div>
        <div class="side_api">
            <div class="" style="display: flex;align-items: center;justify-content: center;padding: 5px;">
                <i class="fa-solid fa-network-wired fa-sm" style="color: #ffffff;"></i>
            </div>
            <div class="" style="padding: 5px;padding-bottom:0;align-self: baseline;">API</div>
        </div>
        <div class="side_discordbot">
            <div class="" style="display: flex;align-items: center;justify-content: center;padding: 5px;">
                <i class="fa-brands fa-discord fa-sm" style="color: #ffffff;"></i>
            </div>
            <div class="" style="padding: 5px;padding-bottom:0;align-self: baseline;">Discord Bot</div>
        </div>
        <div class="side_analytics">
            <div class="" style="display: flex;align-items: center;justify-content: center;padding: 5px;">
                <i class="fa-solid fa-chart-pie fa-rotate-180 fa-sm" style="color: #ffffff;"></i>
            </div>
            <div class="" style="padding: 5px;padding-bottom:0;align-self: baseline;">Analytics</div>
        </div>
    </div>

    <div class="sidebar_bottom">
        <div class="side_profile">
            <div class="" style="display: flex;align-items: center;justify-content: center;padding: 5px;">
                <i class="fa-regular fa-credit-card fa-sm" style="color: #ffffff;"></i>
            </div>
            <div class="" style="padding: 5px;padding-bottom:0;align-self: baseline;">Billing</div>
            
        </div>
        <div class="side_profile">
            <div class="" style="display: flex;align-items: center;justify-content: center;padding: 5px;">
                <i class="fa-solid fa-gear fa-sm" style="color: #ffffff;"></i>
            </div>
            <div class="" style="padding: 5px;padding-bottom:0;align-self: baseline;">Settings</div>
            
        </div>
        <div class="logout_seperator" style="display: flex;height:25px;">
            <div class="seperating_line" style="width: 100%;height: 2px;background: rgba(255,255,255,0.31);"></div>
        </div>
        <div class="side_profile logout_button">
            <div class="" style="display: flex;align-items: center;justify-content: center;padding: 5px;">
                <i class="fa-solid fa-arrow-right-from-bracket fa-sm" style="color: #ffffff;"></i>
            </div>
            <div class="" style="padding: 5px;padding-bottom:0;align-self: baseline;">{{ isLogin }}</div>
            
        </div>
    </div>
    


</div>


<script>
    
document.getElementsByClassName('logout_button')[0].addEventListener('click', () => {
    
    window.location.href = 'login/';
    
});

</script>
