<div class="sidebar">

    <div class="side_home">
        <div class="" style="display: flex;align-items: center;justify-content: center;padding: 5px;">
            <i class="fa-solid fa-house fa-sm" style="color: #ffffff;"></i>
        </div>
        <div class="" style="padding: 5px;padding-bottom:0;align-self: baseline;">Home</div>
    </div>
    <div class="side_db">
        <div class="" style="display: flex;align-items: center;justify-content: center;padding: 5px;">
            <i class="fa-solid fa-database fa-sm" style="color: #ffffff;"></i>
        </div>
        <div class="" style="padding: 5px;padding-bottom:0;align-self: baseline;">Database</div>
    </div>
    <div class="side_api">
        <div class="" style="display: flex;align-items: center;justify-content: center;padding: 5px;">
            <i class="fa-solid fa-network-wired fa-sm" style="color: #ffffff;"></i>
        </div>
        <div class="" style="padding: 5px;padding-bottom:0;align-self: baseline;">API</div>
    </div>
    <div class="side_discordbot">
        <div class="" style="display: flex;align-items: center;justify-content: center;padding: 5px;">
            <i class="fa-brands fa-discord fa-sm" style="color: #ffffff;"></i>
        </div>
        <div class="" style="padding: 5px;padding-bottom:0;align-self: baseline;">Discord Bot</div>
    </div>
    <div class="side_analytics">
        <div class="" style="display: flex;align-items: center;justify-content: center;padding: 5px;">
            <i class="fa-solid fa-chart-pie fa-rotate-180 fa-sm" style="color: #ffffff;"></i>
        </div>
        <div class="" style="padding: 5px;padding-bottom:0;align-self: baseline;">Analytics</div>
    </div>
    <div class="sidebar_seperator" style="width: 100%; height: 2px; cursor: default;background-color: transparent; display: flex;align-items: center;justify-content: center;">
        <div class="" style="width:100%; height: 2px; background: rgba(229, 211, 228, 0.2);border-radius: 30px;"></div>
    </div>
    <div class="side_profile">
        <div class="" style="display: flex;align-items: center;justify-content: center;padding: 5px;">
            <i class="fa-solid fa-user fa-sm" style="color: #ffffff;"></i>
        </div>
        <div class="" style="padding: 5px;padding-bottom:0;align-self: baseline;">{{ username }}</div>
        
    </div>


</div>