<div class="signin">
  <div class="signin_name">
    Sign In</div>

  <div class="register_field_row">
    <div class="fname_input">
        <div class="label">First Name</div>
        <div class="inputfield">
          <input type="text" name="" id="">
        </div>
      </div>
  
      <div class="lname_input">
        <div class="label">Last Name</div>
        <div class="inputfield">
          <input type="text" name="" id="">
        </div>
      </div>
  
      <div class="email_input" style="max-width: 630px; width: 100%;">
        <div class="label">Email ID</div>
        <div class="inputfield">
          <input type="text" name="" id="">
        </div>
      </div>
  
      <div class="mobile_input">
        <div class="label">Password</div>
        <div class="inputfield">
          <input type="password" name="" id="">
        </div>
      </div>
  
      <div class="country_input">
        <div class="label">Re-enter Password</div>
        <div class="inputfield">
          <input type="password" name="" id="">
        </div>
      </div>
  </div>

  <div class="submitrow">
    <div class="terms">
        <input type="checkbox" name="" id="">
        <div>I agree to the terms and services of this site</div>
    </div>
    <button>Sign In ></button>
  </div>
</div>
